@model IEnumerable<SneakerSTVietnamMVC.Models.Slider>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminCP/Views/Shared/_LayoutAdminCP.cshtml";
}

<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="panel panel-headline">
                <div class="panel-heading">
                    <h1 class="panel-title">Slider List</h1>
                    <p class="panel-subtitle"></p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            @if (TempData["AddSuccess"] != null)
                            {
                                @Html.Raw(TempData["AddSuccess"])
                            }
                            <div class="form-group">@Html.ActionLink("CREATE SLIDER", "Create", null, new { @class = "btn btn-success btn-md" })</div>
                            <table class="table table-bordered">
                                <tr>
                                    <th>
                                        Slider ID
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Link
                                    </th>
                                    <th>
                                        Button Name
                                    </th>
                                    <th>
                                        Image
                                    </th>
                                    <th></th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SlideID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SlideName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Slide_Description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SlideLink)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SlideButtonName)
                                        </td>
                                        <td>
                                            <img src="../../@Html.DisplayFor(modelItem => item.SliderImage)" class="img-thumbnail" style="max-height: 50px" />
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.SlideID }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.SlideID }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.SlideID })
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
